.cta-section {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 90px 70px; /* Slightly increased padding */
  min-height: 290px; /* Small minimum height to add vertical space */
  background:#4b1e547a; /* New color gradient: blue to pink */
  overflow: hidden;
  
}

.background-image {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  opacity: 0.8; /* Slight opacity for a blend effect */
}

.content-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: -20px;
  width: 100%;
  max-width: 994px;
}

.heading-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
  font-size: 48px;
  font-weight: 700;
  line-height: 62px;
  margin: 1px;
}

.heading-text2 {
  color: rgba(254, 204, 82, 1);
  font-size: 48px;
  font-weight: 900;
  line-height: 62px;
  letter-spacing: -1.12px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin: 1px 1px 1px 300px;
}

.btn1 {
  text-align: center;
  position: absolute;
  transition: all 0.5s ease;
  color: #fff;
  border: 1px solid white;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  line-height: 1;
  font-size: 10px;
  background-color:  #4B1E54; 
  padding: 10px;
  outline: none;
  border-radius: 10px;
  text-decoration: underline;
  width: 160px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 1px 1px 380px;
  font-weight: 600;
}

.btn1:hover {
  color: #4B1E54;
  background: #fff;
  border-color: #F7B546;
}

.custom-heading {
  font-size: 50px;
  background: #4B1E54;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin: 120px 30px 1px 1px;
  font-weight: 900;
}
.custom-heading2{
  font-size: 35px;
  background: linear-gradient(0deg, rgb(94, 35, 114) 2%, rgb(0, 0, 0) 67%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin: 1px 1px 1px 1px;
  font-weight: 400;
}
.custom-solution{
  font-display: flex;
  position: absolute;
  margin: 1px 1px 1px 1px;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(67deg, rgb(239, 239, 239) 0%, rgba(255, 212, 87, 1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  border-radius: 8px;
  text-align: center;
  border: none;
  cursor: pointer;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

.button-style {
  display: flex;
  position: absolute;
  padding: 0.7rem 1rem;
  font-size: 0.6rem;
  color: #ffffff;
  border: 1px solid #4B1E54;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(90deg, #4B1E54 40%, #4B1E54 100%);
  text-transform: uppercase;
  margin: 220px 1px 1px 1px;
  padding: 10px 10px;
}

.button-style img{
  display: inline-block;
  height: 10px;
  margin: 1px 1px 1px 1px;
}

.button-style:hover {
  color: #4B1E54;
  background: #fff;
  border-color: #f7b546;/* Darker shade for hover effect */
}

.arrow-icon {
  margin-left: 8px;
  width: 20px;
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
}

.contact-text {
  margin-top: 20px;
  font-size: 16px;
  align-self: start;
  z-index: 10;
  margin-left: 600px;
}

.contact-icon {
  aspect-ratio: 1;
  width: 24px;
  color: white;
  align-self: end;
  margin-top: 10px;
}

.services-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 20px;
}

.service-title {
  font-size: 44px;
  background:#4B1E54;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin: 1px 1px 1px 1px;
  font-weight: 700;
}

.service-title2 {
  font-size: 44px;
  background-color: #4B1E54;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin: 1px 1px 1px 1px;
  font-weight: 700;
}

.service-description1 {
  font-size: 18px;
  text-align: center;
  margin: 1px 1px 100px 1px;
  font-weight: 400;
  justify-content: top;
}
.service-description2 {
  font-size: 12px;
  text-align: center;
  margin: 1px 1px 100px 1px;
  font-weight: 400;
  margin-bottom: 140px;
  gap: 2px;
}


.services-grid {
  display: grid;
  gap: 10px; /* Space between grid items */
  justify-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  margin: auto;
  grid-template-columns: repeat(3, 1fr); /* Default grid with 3 columns */
}

.service-card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: #ffffff;
  color: black;
  box-shadow: 12px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 13px;
  border: 2px solid #4B1E54;
  height: 250px;
  width: 350px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card1:hover {
  transform: translateY(-10px) rotateX(4deg) rotateY(4deg);
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.4);
}


/* Media Queries */
@media (max-width: 2560px) {
  .services-grid {
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
  }
}

@media (max-width: 1820px) {
  .services-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
  }
}

@media (max-width: 1444px) {
  .services-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
  }
}

@media (max-width: 1144px) {
  .services-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
  }
}

@media (max-width: 944px) {
  .services-grid {
    grid-template-columns: 1fr; /* Single column */
  }
}
