/* TestimonialsSection.css */
.testimonials-container {
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 100px 1px 1px 65px;
  padding: 60px 54px;
  width: 1000px;
  height: 500px;
}

.testimonials-heading {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: -2.08px;
  text-align: center;
  align-self: center;
  font: 600 52px Roboto, sans-serif;
}

.testimonials-grid {
  display: flex;
  gap: 20px;
  margin-top: 90px;
}

.testimonial-card {
  border-radius: 14px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto, sans-serif;
  color: #000;
  font-weight: 400;
  text-align: center;
  width: 100%;
  padding: 0 22px 42px;
}

.testimonial-image {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 120px;
  border-radius: 50%;
  z-index: 10;
  margin-top: -55px;
}

.testimonial-name {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  letter-spacing: -0.96px;
  margin-top: 21px;
}

.testimonial-text {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 13px;
  letter-spacing: -0.52px;
  align-self: stretch;
  margin-top: 21px;
}

.rating-image {
  aspect-ratio: 7.81;
  object-fit: contain;
  object-position: center;
  width: 133px;
  margin-top: 21px;
}

@media (max-width: 991px) {
  .testimonials-container {
    max-width: 100%;
    margin-top: 8px;
    padding: 0 20px;
  }

  .testimonials-heading {
    max-width: 100%;
    font-size: 40px;
  }

  .testimonials-grid {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
    margin-top: 40px;
  }

  .testimonial-card {
    margin-top: 40px;
    padding: 0 20px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
